---
title: "An example post... Nice"
date: "08-08-2025"
updated: null
tags:
  - "sveltekit"
coverImage: /example-banner.svg
coverWidth: 1500
coverHeight: 500
excerpt: "This is the first post. That's pretty good."
---

# Hello there

