---
title: "Automatic heading links in mdsvex"
date: "2023-10-26"
updated: "2023-10-26"
categories:
  - "sveltekit"
  - "markdown"
coverImage: null
coverWidth: 16
coverHeight: 9
excerpt: Check out how heading links work with this starter in this post.
---

# Hello there