@layer components {
	.blog-content {
		display: grid;
		grid-template-columns: auto min(100%, var(--max-width-prose, 65ch)) var(--max-width-toc, auto);
		column-gap: 1rem;

		& > :not(nav) {
			grid-column: 2;
		}

		& > nav {
			grid-column: 3;
			grid-row: 1 / -1;
		}

		& > nav {
			order: 1;
			position: sticky;
			top: 0;
			font-size: 0.9em;
			text-wrap: pretty;
			height: fit-content;
		}

		& > nav > ol {
			padding-block: 0.1em;
			border-left: var(--color-0A) 2px solid;
		}

		& > nav > ol:empty {
			display: none;
		}

		@container (width < 95ch) {
			& > nav {
				display: none;
			}
		}
	}
}
