@import 'tailwindcss';
@import './_fonts.css';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin "@iconify/tailwind4" {
	prefixes: pixel, bi;
}

@theme {
	/* Base 16 theming */
	--color-00: #261632;
	--color-01: #60377d;
	--color-02: #766549;
	--color-03: #b590d1;
	--color-04: #daa9d8;
	--color-05: #f1daeb;
	--color-06: #f7deef;
	--color-07: #ffddee;
	--color-08: #8e9296;
	--color-09: #8e9194;
	--color-0A: #8e9196;
	--color-0B: #8e9296;
	--color-0C: #8e9296;
	--color-0D: #b07bd3;
	--color-0E: #8e9296;
	--color-0F: #8e9296;

	/* Basic surfaces and text */
	--color-default-surface: var(--color-00);
	--color-alternate-surface: var(--color-01);
	--color-selection-surface: var(--color-02);
	--color-default-text: var(--color-05);
	--color-alternate-text: var(--color-04);
	--color-warning: var(--color-0A);
	--color-urgent: var(--color-09);
	--color-error: var(--color-08);

	/* Windows + sections */
	--color-unfocused-window: var(--color-03);
	--color-focused-window: var(--color-0D);
	--color-urgent-window: var(--color-08);
	--color-window-title: var(--color-05);

	/* Popups + progress */
	--color-popup-window-border: var(--color-0D);
	--color-popup-surface-color: var(--color-00);
	--color-popup-text: var(--color-05);
	--color-popup-urgent-border: var(--color-08);
	--color-popup-warning-border: var(--color-03);
	--color-popup-incomplete: var(--color-01);
	--color-popup-complete: var(--color-02);

	/* Fonts */
	--font-mono: 'Monaspace Neon', monospace;
	--font-mono-accent: 'Monaspace Xenon', var(--font-mono);
	--font-mono-headings: 'Mononoki', var(--font-mono);
}

@layer base {
	body {
		background-color: var(--color-default-surface);
		color: var(--color-default-text);
		display: grid;
		width: 100%;
		height: 100%;
	}

	h1,
	h2,
	h3,
	h4,
	h5 {
		&,
		.prose & :where(a):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
			font-family: var(--font-mono-headings);
		}
	}
	.prose :where(a):not(:where([class~='not-prose'], [class~='not-prose'] *)) {
		font-family: var(--font-mono-accent);
		text-underline-offset: 0.3em;

		--font-weight: 550;
		--font-width: 105;
		font-variation-settings:
			'wght' var(--font-weight, 400),
			'wdth' var(--font-width, 100),
			'slnt' var(--font-slant, 0);
	}

	.font-mono,
	.font-variations {
		font-variation-settings:
			'wght' var(--font-weight),
			'wdth' var(--font-width),
			'slnt' var(--font-slant);
		font-feature-settings:
			'calt' var(--texture-healing, 1),
			'liga' var(--ligatures, 1),
			'ss01' var(--ligatures, 1),
			'ss02' var(--ligatures, 1),
			'ss03' var(--ligatures, 1),
			'ss04' var(--ligatures, 1),
			'ss05' var(--ligatures, 1),
			'ss06' var(--ligatures, 1),
			'ss07' var(--ligatures, 1),
			'ss08' var(--ligatures, 1);
	}

	.prose :where(a):not(:where([class~='not-prose'], [class~='not-prose'] *))[target='_blank'],
	.external-link {
		&::after {
			content: '';
			width: 0.4lh;
			height: 0.4lh;
			margin-left: 0.25em;
			margin-bottom: 0.1lh;
			background-color: currentColor;
			mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='13' fill='000' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z'/%3E%3Cpath fill-rule='evenodd' d='M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z'/%3E%3C/svg%3E");
			mask-position: center;
			mask-repeat: no-repeat;
			mask-size: contain;
			display: inline-block;
		}
	}
}

@layer utilities {
	.prose {
		/* Prose */
		--tw-prose-body: var(--color-default-text);
		--tw-prose-headings: var(--color-window-title);
		--tw-prose-lead: var(--color-alternate-text);
		--tw-prose-links: var(--color-popup-text);
		--tw-prose-bold: var(--color-alternate-text);
		--tw-prose-counters: var(--color-default-text);
		--tw-prose-bullets: var(--color-default-text);
		--tw-prose-hr: var(--color-unfocused-window);
		--tw-prose-quotes: var(--color-alternate-text);
		--tw-prose-quote-borders: var(--color-alternate-text);
		--tw-prose-captions: var(--color-default-text);
		--tw-prose-code: var(--color-alternate-text);
		--tw-prose-pre-code: var(--color-alternate-text);
		--tw-prose-pre-bg: var(--color-alternate-surface);
		--tw-prose-th-borders: var(--color-focused-window);
		--tw-prose-td-borders: var(--color-unfocused-window);
		--tw-prose-kbd: var(--color-alternate-text);
		--tw-prose-kbd-shadows: 255 221 238; /* --color-07 */
	}
}

@layer components {
	pre > code {
		counter-reset: step;
		counter-increment: step calc(var(--line-number-start, 1) - 1);

		&:has(.line:nth-child(10)) {
			--line-number-width: 2;
		}

		&:has(.line:nth-child(100)) {
			--line-number-width: 3;
		}

		&:has(.line:nth-child(1000)) {
			--line-number-width: 4;
		}

		& .line::before {
			content: counter(step);
			counter-increment: step;
			max-height: 1lh;
			width: calc(var(--line-number-width, 1) * 1em);
			overflow: clip;
			text-overflow: ellipsis;

			margin: 0;
			padding: 0;
			padding-right: 0.5rem;
			margin-right: 0.5rem;
			display: inline-block;
			text-align: right;

			color: rgb(from var(--color-0D) r g b / 0.5);
			border-right: 1px solid currentColor;
		}
	}

	.grid-stack {
		grid-template: auto / auto;
		& > * {
			grid-area: 1 / 1;
		}
	}
}

@layer utilities {
	.clip-br {
		clip-path: circle(100% at 100% 100%);
	}
	.mask-pixels-btm {
		--_mask-height: round(var(--mask-height, 15cqmin), 1px);
		mask-image: url(../static/assets/pixels-top.svg), linear-gradient(#000, #000);
		mask-size:
			auto var(--_mask-height),
			100% calc(100% - var(--_mask-height) + 1px);
		mask-position: bottom, top;
		mask-repeat: repeat-x, no-repeat;
	}

	.mask-pixels-top {
		--_mask-height: round(var(--mask-height, 15cqmin), 1px);
		mask-image: url(../static/assets/pixels-btm.svg), linear-gradient(#000, #000);
		mask-size:
			auto var(--_mask-height),
			100% calc(100% - var(--_mask-height) + 1px);
		mask-position: top, bottom;
		mask-repeat: repeat-x, no-repeat;
	}

	.mask-pixels-both {
		--_mask-height: round(var(--mask-height, 15cqmin), 1px);
		mask-image:
			url(../static/assets/pixels-top.svg), url(../static/assets/pixels-btm.svg),
			linear-gradient(#000, #000);
		mask-size:
			auto var(--_mask-height),
			auto var(--_mask-height),
			100% calc(100% - (var(--_mask-height) * 2));
		mask-position: bottom, top, center;
		mask-repeat: repeat-x, repeat-x, no-repeat;
	}
}

@import './_blog.css';
